#logo {
    height: 95px;
  }
  
  .formulario {
    background: linear-gradient(grey), (rgb(41, 41, 41));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgb(138, 138, 138, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }


#boton-continuar{
  text-align: -webkit-center;
}

.centrado{
	
}